body * {
    font-family: sans-serif;
}


#main {
    display:flex;
    width:100%;
}

#container {
    flex-grow:1;
    height:800px;
    outline:2px solid cadetblue;
}

#rhs {
    display:flex;
    flex-direction: column;
    flex-basis:20%;
}

#palette {
    flex:0 0 150px;
}

#miniview {
    position:fixed;
    top:50px;
    right:50px;
    width:250px;
    height:250px;
    outline:1px solid crimson;
}
